/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Fonts
   ========================================================================== */

@font-face {
    font-family: 'ALK Sanet';
    src: url('../fonts/alk-sanet-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/alk-sanet-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/alk-sanet-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/alk-sanet-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/alk-sanet-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/alk-sanet-webfont.svg#alk_sanetregular') format('svg'); /* Legacy iOS */
}
/*
@font-face {
    font-family: 'BPG LE Studio 02';
    src: url('../fonts/bpg-le-studio-02-webfont.eot');
    src: url('../fonts/bpg-le-studio-02-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bpg-le-studio-02-webfont.woff2') format('woff2'),
         url('../fonts/bpg-le-studio-02-webfont.woff') format('woff'), 
         url('../fonts/bpg-le-studio-02-webfont.ttf') format('truetype'),
         url('../fonts/bpg-le-studio-02-webfont.svg#bpg_le_studio_02regular') format('svg');
}

@font-face {
    font-family: 'BPG Nino Elite Exp Caps';
    src: url('../fonts/bpg-nino-elite-exp-caps-webfont.eot');
    src: url('../fonts/bpg-nino-elite-exp-caps-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bpg-nino-elite-exp-caps-webfont.woff2') format('woff2'),
         url('../fonts/bpg-nino-elite-exp-caps-webfont.woff') format('woff'),
         url('../fonts/bpg-nino-elite-exp-caps-webfont.ttf') format('truetype'),
         url('../fonts/bpg-nino-elite-exp-caps-webfont.svg#bpg_nino_elite_exp_capsregular') format('svg'); 
}

@font-face {
    font-family: 'BPG Nino Mtavruli';
    src: url('../fonts/bpg-nino-mtavruli-webfont.eot');
    src: url('../fonts/bpg-nino-mtavruli-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bpg-nino-mtavruli-webfont.woff2') format('woff2'),
         url('../fonts/bpg-nino-mtavruli-webfont.woff') format('woff'),
         url('../fonts/bpg-nino-mtavruli-webfont.ttf') format('truetype'),
         url('../fonts/bpg-nino-mtavruli-webfont.svg#bpg_nino_mtavruliregular') format('svg');
}
*/
body, html {
    font-family: 'ALK Sanet';
    font-style:condensed;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    background: #FFF;
    min-width: 900px;
}

h1 {
  font-size: 28px;
  line-height: 40px;
}
h1 a {
  text-decoration: none;
  color: #48c15e;
}
h1 p {
  font-size: 22px;
}

#grid {
  -moz-transform: translate(1px, 0px);
  -ms-transform: translate(1px, 0px);
  -webkit-transform: translate(1px, 0px);
  transform: translate(1px, 0px);
}

/* GRAPH - 1 */
#graph-1 {
  stroke: url(#gradient-1);
  stroke-width: 1.5;
  fill: transparent;
  stroke-linecap: round;
  stroke-linejoin: round;
  -moz-animation: lineani 1.3s linear forwards;
  -webkit-animation: lineani 1.3s linear forwards;
  animation: lineani 1.3s linear forwards;
}

#graph-2 {
  stroke: url(#gradient-2);
  stroke-width: 1.5;
  fill: transparent;
  stroke-linecap: round;
  stroke-linejoin: round;
  -moz-animation: lineani 1.3s linear forwards;
  -webkit-animation: lineani 1.3s linear forwards;
  animation: lineani 1.3s linear forwards;
}

#poly-1 {
  fill: url(#gradient-3);
}

#poly-2 {
  fill: url(#gradient-4);
}

@-moz-keyframes lineani {
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes lineani {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes lineani {
  to {
    stroke-dashoffset: 0;
  }
}
.underlay {
  stroke-width: 5;
  fill: transparent;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #24303a;
}

#circle-graph-1 {
  stroke: url(#gradient-1);
  stroke-width: 5;
  fill: transparent;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.chart-circle {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

#circle-graph-2 {
  stroke: url(#gradient-2);
  stroke-width: 5;
  fill: transparent;
  stroke-linecap: round;
  stroke-linejoin: round;
}

body {
  color: white;
  text-align: center;
}

.charts-container {
  padding: 20px;
  width: 100%;
  max-width: 1024px;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.chart {
  color: #4a667a;
  text-align: left;
  position: relative;
  height: auto;
  background-color: #1e2730;
  display: inline-block;
/*   float: left; */
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 10px;
  padding: 15px 20px 65px 20px;
}
.chart.circle {
  padding: 15px 20px 40px 20px;
}
@media screen and (max-width: 700px) {
  .chart {
    width: calc(100% - 20px);
  }
}
@media screen and (min-width: 700px) {
  .chart {
    width: calc(32%);
  }
}

.title {
  font-size: 22px;
  margin-bottom: 12px;
}

.chart-circle {
  display: inline-block;
  position: relative;
}

.chart-svg {
  position: relative;
}

.circle-percentage {
  position: absolute;
  color: white;
  font-size: 48px;
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 480px) {
  .circle-percentage {
    font-size: 32px;
  }
}

.align-center {
  text-align: center;
}

.chart-line {
  width: 80%;
}

.valueX {
  font-size: 14px;
}

.chart-values {
  text-align: right;
  font-size: 18px;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 15px;
}

.h-value {
  -moz-transition: ease-in-out 700ms;
  -o-transition: ease-in-out 700ms;
  -webkit-transition: ease-in-out 700ms;
  transition: ease-in-out 700ms;
  opacity: 0;
}
.h-value.visible {
  opacity: 1;
}

.percentage-value {
  -moz-transition: ease-in-out 700ms;
  -o-transition: ease-in-out 700ms;
  -webkit-transition: ease-in-out 700ms;
  transition: ease-in-out 700ms;
  color: #48c15e;
  margin-top: 2px;
  opacity: 0;
}
.percentage-value.negative {
  color: #ef6670;
}
.percentage-value.visible {
  opacity: 1;
}

.total-gain {
  color: white;
  font-size: 48px;
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 28px 0 0 28px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.triangle.red {
  border-color: transparent transparent transparent #ef6670;
}
.triangle.green {
  border-color: transparent transparent transparent #48c15e;
}

.horizontal,
.vertical {
  stroke-width: 0.1;
  stroke: #4a667a;
}

/* CLEARFIX HELPER */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}

/*IRRELEVANT CSS*/
.followlinks {
  position: fixed;
  right: 35px;
  bottom: 15px;
  display: table;
}
.followlinks a {
  display: table-cell;
  vertical-align: middle;
  padding-left: 10px;
  color: white;
}
.followlinks a svg path {
  fill: white;
}

.heartIt {
  margin-top: 50px;
  margin-bottom: 80px;
}
.heartIt p {
  font-size: 24px;
  line-height: 40px;
}
.heartIt img {
  width: 64px;
  height: auto;
  opacity: 0.7;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.original {
  color: #ef6670;
  font-size: 14px;
}


a{
    font-size: 18px;
    color: white;
    text-decoration: none;

}

input:focus,textarea:focus,select:focus{
  border:1px solid #fafafa;
  -webkit-box-shadow:0 0 6px #007eff;
  -moz-box-shadow:0 0 5px #007eff;
  box-shadow:0 0 5px #007eff;
  outline: none;
}

sup{

    font-size: 40px;
}

ul{
    list-style: none;
    font-size: 15px;
    color: #9095aa;
    padding: 0px;
    margin: 0px;


}


li{
	padding: 0px;
	margin: 0px;
	height: 52px;
	line-height: 52px;
}


#container{
    width: 100%;
  text-align:center;
}

.whole{
    display: inline-block;
  
}



.type{
    width: 300px;
    border-radius: 5px 5px 0px 0px;
    background-color: #eac80d;
    height: 62px;
    border-bottom: 3px solid #bfa30c;

}

.type p{
    font-weight: 800;
    font-size: 29px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    padding-top: 10px;

    

}

.plan{
    width: 300px;
    background-color: #2b2937;

    border-radius: 0px 0px 5px 5px;
    font-style:condensed;
    font-size: 90px;
    color: white;
    text-align: center;


}
.standard{
    background-color: #1abc9c;
    border-bottom: 3px solid #18937b;
}

.ultimate{
    background-color: #5d6a9a;
    border-bottom: 3px solid #474f6f;
}





.header{
    border-bottom: 1px solid #494a5a;
    padding-bottom: 39px;


}

.header span{
    font-size: 32px;

    
}

.month{
    font-size: 14px;
    color: #575757;
    padding: 0px;
    margin: -10px;
}

.price{
    height:80px;
}

.cart{
  
  color:white;
  position: relative;
  top: 16px;
  
}

.bottom{
  
  
}

.content{
}

.login_c{
  width:500px;
  background-color:#2b2937;
  height:300px;
  margin: 0 auto;
  margin-top:40px;
  border-radius:5px;
  
}

.login_c input{
  width: 350px;
height: 40px;
  border: 1px solid #494a5a;
  margin-bottom:20px;
  border-radius:5px;
  padding-left: 10px;

}


.login{
  background-color: #BC4B1A;
    border-bottom: 3px solid #7C3618;
  width:100%;
  
}

.top{
  margin-top:35px;
}

.nodisplay{
  opacity: 0.1;
}

.selected{
  background-color: #1F1B36;
  margin:0px;
  padding:0px;
}
.faq {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  font-size: 64px;
  margin-bottom: 36px;
}
dl {
  
}
dt {
  cursor: pointer;
  font-size: 2em;
  font-weight: bold;
  line-height: 2em;
  background: rgba(255, 255, 255, 0.1);
  margin-top: 2px;
  border-radius: 50px;
}

dt:first-child {
  border-top: none;
}

dt:nth-last-child(2) {
  border-bottom: none;
}

dd {
  margin: 0px;
  padding: 1.2em 0px;
}

.hide {
  display: none;
}

 canvas{ display: block; vertical-align: bottom; } /* ---- particles.js container ---- */ #particles-js{ width: 100%; height: 100%; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; } /* ---- stats.js ---- */ .count-particles{ background: #000022; position: absolute; top: 48px; left: 0; width: 80px; color: #13E8E9; font-size: .8em; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 2px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; } .js-count-particles{ font-size: 1.1em; } #stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; } #stats{ border-radius: 3px 3px 0 0; overflow: hidden; } .count-particles{ border-radius: 0 0 3px 3px; }


#menu {
    position: fixed;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    margin-top: 10px;
}

#menu a {
    display: inline-block;
    margin: 10px 10px 0 10px;
    border-radius: 50px;
    border: 3px solid rgba(0, 0, 0, 0.5);
}
#menu a:nth-child(1){
    background: #f44336;
}
#menu a:nth-child(2){
    background: #9c27b0;
}
#menu a:nth-child(3){
    background: #4caf50;
}
#menu a:nth-child(4){
    background: #d81b60;
}
#menu a:nth-child(5){
    background: #6F4F48;
}
#menu a {
    font-size: 28px;
    border: none;
    padding: 0 21px 0 21px;
}
.active-menu {
  border: 3px solid #fff !important;
}
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

ul {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

#browser {
  margin: 10px auto;
  color: white;
  width: 80%;
  -webkit-box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.5);
}

#browser-bar {
  background: #394141;
  width: 100%;
  padding: 8px;
  margin: 0 auto;
  font-weight: 300;
  font-size: 0.9em;
  position: relative;
}
#browser-bar p {
  text-align: center;
}
#browser-bar .circles {
  border-radius: 10px;
  height: 13px;
  width: 13px;
  background: #ff3434;
  float: left;
  margin-left: 7px;
  margin-top: 3px;
}
#browser-bar .circles:nth-of-type(2) {
  background: #ffdd33;
}
#browser-bar .circles:nth-of-type(3) {
  background: #67b678;
}

.arrow {
  position: absolute;
  right: 3px;
  top: 6px;
  font-size: 1.2em;
  color: #8e9699;
}

#content {
}
#content:after {
  content: "";
  display: table;
  clear: both;
}
#content #left, #content #right {
  height: 388px;
}
#content #left {
  float: left;
  width: 75%;
  background: #7BC087;
}
@media all and (max-width: 780px) {
  #content #left {
    width: 100%;
  }
}
#content #left #map {
  height: 388px;
  position: relative;
  background-image: url("http://f.cl.ly/items/452R3S1440221Z3m372j/israel.png");
  background-size: cover;
}
#content #left #map p {
  text-transform: uppercase;
  padding-top: 20px;
  padding-left: 30px;
  font-size: 0.9em;
  font-weight: 600;
}
#content #left #map .zoom {
  position: absolute;
  right: 25px;
  top: 25px;
  width: 2px;
  height: 70px;
  background: white;
}
#content #left #map .zoom:before, #content #left #map .zoom:after {
  text-align: center;
  font-weight: 600;
  position: absolute;
  color: #7BC087;
  background: white;
  width: 20px;
}
#content #left #map .zoom:before {
  content: '+';
  top: -10px;
  right: -8px;
}
#content #left #map .zoom:after {
  content: '-';
  bottom: -10px;
  right: -8px;
}
#content #left #map .map-locator {
  position: absolute;
  top: 47%;
  left: 36%;
  border-radius: 15px;
  height: 30px;
  width: 30px;
  background: rgba(0, 0, 0, 0.4);
  border: solid 2px white;
}
#content #left #map .map-locator:before {
  content: '';
  position: absolute;
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  background: white;
  border-radius: 5px;
}
#content #left #map .map-locator .tooltip {
  position: absolute;
  color: #394141;
  left: 50px;
  top: -10px;
  background: white;
  font-size: 0.8em;
  font-weight: 600;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
#content #left #map .map-locator .tooltip:before {
  content: '';
  position: absolute;
  left: -10px;
  top: 14px;
  border-right: solid white 10px;
  border-top: solid transparent 8px;
  border-bottom: solid transparent 8px;
}
#content #left #map .map-locator .tooltip [class*="entypo-"] {
  min-width: 25px;
  display: inline-block;
  text-align: center;
  border-right: solid thin #CCC;
  margin-right: 5px;
}
#content #left #map .map-locator .tooltip li {
  border-bottom: solid thin #CCC;
  padding: 10px;
  white-space: nowrap;
}
#content #left #map .map-locator .tooltip li a {
  color: #51B2D6;
}
#content #left #map .map-locator .tooltip li:hover [class*="entypo-"] {
  color: #51B2D6;
}
#content #left ul#location-bar {
  width: 100%;
  text-align: center;
  display: table;
}
#content #left ul#location-bar li {
  display: table-cell;
  padding: 15px;
  background: #5FA269;
  border-right: solid thin #7fb587;
}
#content #left ul#location-bar li:last-of-type {
  border-right: 0;
}
#content #left ul#location-bar li:hover {
  background: #4c8254;
}
#content #left ul#location-bar .active {
  background: #4c8254;
}
#content #right {
  float: left;
  width: 25%;
  background: #454f4f;
  font-size: 0.75em;
  padding: 15px;
}
@media all and (max-width: 780px) {
  #content #right {
    width: 100%;
  }
}
#content #right p {
  margin-bottom: 10px;
  text-transform: uppercase;
}
#content #right a:hover {
  color: #51B2D6;
}
#content #right #social {
  display: table;
  width: 100%;
}
#content #right .social {
  display: table-cell;
  text-align: center;
}
#content #right form {
  border-top: solid thin #8e9699;
  border-bottom: solid thin #8e9699;
  margin: 20px 0;
  padding: 20px 0;
}
#content #right form input,
#content #right form textarea {
  background: #394141;
  padding: 8px;
  margin-bottom: 8px;
  width: 100%;
  color: white;
}
#content #right form input:last-of-type,
#content #right form textarea:last-of-type {
  margin-bottom: 0;
}
#content #right form input[type='button'],
#content #right form textarea[type='button'] {
  text-transform: uppercase;
  background: #7BC087;
  width: 50%;
  color: white;
  margin-top: 5px;
}
#content #right form input[type='submit']:hover,
#content #right form textarea[type='submit']:hover {
  background: #58b068;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
#content #right form input[type='textarea'],
#content #right form textarea[type='textarea'] {
  min-height: 75px;
  vertical-align: text-top;
}
#content #right p.other {
  font-size: 0.7;
  margin-bottom: 5px;
  text-transform: lowercase;
  font-weight: 100;
}
#content #right p.other,
#content #right p.other a {
  color: #8e9699;
}
header h1 {
  font-size:50px;
}
.titlebg {
  background:#444;
  width:100%
}
/* Text Effect Styles */

.text h2 {
  padding: 40px 0 80px;
  color: #FFF;
  letter-spacing: 10px;
  text-shadow: 2px 2px 0px #f1c40f, 6px 6px 0px rgba(54, 54, 54, 0.5);
  color: #fff;
  width: 66%;
  line-height: 90px;
  position: absolute;
  top: 14%;
  left: 1%;
  font-size: 80px;
  text-align: right;
}

/* The loader container */
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  
  width: 200px;
  height: 200px;
  
  margin-top: -100px;
  margin-left: -100px;
}


/* The dot */
.dot {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;

  width: 160px;
  height: 100px;
  
  margin-top: -50px;
  margin-left: -80px;

  border-radius: 5px;

  background-color: #1e3f57;

  transform-type: preserve-3d;

  animation: dot1 3s cubic-bezier(.55,.3,.24,.99) infinite;
}

.dot:nth-child(2) {
  z-index: 11;
  
  width: 150px;
  height: 90px;
  
  margin-top: -45px;
  margin-left: -75px;
  
  border-radius: 3px;
  
  background-color: #3c617d;
  
  animation-name: dot2;
}

.dot:nth-child(3) {
  z-index: 12;
  
  width: 40px;
  height: 20px;
  
  margin-top: 50px;
  margin-left: -20px;
  
  border-radius: 0 0 5px 5px;
  
  background-color: #6bb2cd;
  
  animation-name: dot3;
}

@keyframes dot1 {
  3%, 97% {
    width: 160px;
    height: 100px;

    margin-top: -50px;
    margin-left: -80px;
  }
  30%, 36% {
    width: 80px;
    height: 120px;

    margin-top: -60px;
    margin-left: -40px;
  }
  63%, 69% {
    width: 40px;
    height: 80px;

    margin-top: -40px;
    margin-left: -20px;
  }
}

@keyframes dot2 {
  3%, 97% {
    width: 150px;
    height: 90px;

    margin-top: -45px;
    margin-left: -75px;
  }
  30%, 36% {
    width: 70px;
    height: 96px;

    margin-top: -48px;
    margin-left: -35px;
  }
  63%, 69% {
    width: 32px;
    height: 60px;

    margin-top: -30px;
    margin-left: -16px;
  }
}

@keyframes dot3 {
  3%, 97% {
    width: 40px;
    height: 20px;

    margin-top: 50px;
    margin-left: -20px;
  }
  30%, 36% {
    width: 8px;
    height: 8px;

    margin-top: 49px;
    margin-left: -5px;
    
    border-radius: 8px;
  }
  63%, 69% {
    width: 16px;
    height: 4px;

    margin-top: -37px;
    margin-left: -8px;
    
    border-radius: 10px;
  }
}

#site {
	display: none;
	background: #5b2072; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #5b2072 0%, #5d1566 50%, #251a41 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#5b2072), color-stop(50%,#5d1566), color-stop(100%,#251a41)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #5b2072 0%,#5d1566 50%,#251a41 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #5b2072 0%,#5d1566 50%,#251a41 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #5b2072 0%,#5d1566 50%,#251a41 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #5b2072 0%,#5d1566 50%,#251a41 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b2072', endColorstr='#251a41',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
    
    
.words {
		position: absolute;
		top: 30%;
		left: 8%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		width: 60%;
}

.words .right {
		float: left;
		color: #FFF;
		width: 50%;
		text-align: right;
}

.words .left {
		float: left;
		color: rgba(255, 234, 0, 0.36);
		width: 50%;
		text-align: left;

		margin-top: 40px;
}

.words h1,
.words h4 {
		-webkit-transition: opacity .25s;
		-moz-transition: opacity .25s;
		-o-transition: opacity .25s;
		-ms-transition: opacity .25s;
		transition: opacity .25s;
}

.words h1 {
		font-size: 6vw;
}

.words h4 {
		font-size: 3vw;
}

.words h4:first-child {
		margin-bottom: -3vw;
}

.words h4:last-child {
		margin-top: -1.6vw;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}