/* 
**
**  Admin Template 
**	
**	Custom Style Sheet
**
**
*/

.fb-share {
	margin-left: auto;
	margin-right: auto;
    max-width: 510px;
    color: rgb(20, 24, 35);
    z-index: 0;
    perspective-origin: 267px 200px;
    transform-origin: 267px 200px;
    background: rgba(245, 245, 245, 0.21) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(20, 24, 35);
    font: normal normal normal normal 11px / 14.08px 'lucida grande', tahoma, verdana, arial, sans-serif;
    outline: rgb(20, 24, 35) none 0px;
    overflow: hidden;
    position: relative;
    top: 20px;
    margin-bottom: 30px;
    padding: 12px;
}
.fb-share .fb-card {
    box-shadow: 0 0 0 1.5px rgba(0, 0, 0, .1) inset, 0 1px 1px rgba(0, 0, 0, .05);
}
.fb-share .comment {
	font-size: 16px;
    word-wrap: break-word;
    color: #141823;
	font-weight: normal;
    line-height: 1.38;
    overflow: hidden;
    padding-left: 5px;
    padding-top: 5px;
}
.fb-share .thumb {
	overflow: hidden;
	margin-top: 12px;
	border: 1px solid rgba(0, 0, 0, .1);
	max-height: 468px;
}
.fb-share .thumb img {
    width: 100%;
}
.fb-share .info { 
    color: rgb(20, 24, 35);
    position: relative;
    perspective-origin: 255px 50px;
    transform-origin: 255px 50px;
    border: 0px none rgb(20, 24, 35);
    font: normal normal normal normal 12px / 15.36px 'lucida grande', tahoma, verdana, arial, sans-serif;
    margin: 10px 12px;
    outline: rgb(20, 24, 35) none 0px;
}
.fb-share .info .title {
	color: rgb(20, 24, 35);
    cursor: pointer;
    overflow-wrap: break-word;
    text-decoration: none;
    word-wrap: break-word;
    border: 0px none rgb(20, 24, 35);
    font: normal normal 500 normal 18px / 22px Georgia, 'lucida grande', tahoma, verdana, arial, sans-serif;
    outline: rgb(20, 24, 35) none 0px;
    transition: color 0.1s ease-in-out 0s;
    margin-bottom: 5px;
}
.fb-share .info .descr {
	color: rgb(20, 24, 35);
    perspective-origin: 255px 16px;
    transform-origin: 255px 16px;
    border: 0px none rgb(20, 24, 35);
    font: normal normal normal normal 12px / 16px helvetica, arial, sans-serif;
    outline: rgb(20, 24, 35) none 0px;
    overflow: hidden;
}
.fb-share .info .site {
	color: rgb(145, 151, 163);
    height: 24px;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
    width: 510px;
    perspective-origin: 255px 5.5px;
    transform-origin: 255px 5.5px;
    border: 0px none rgb(145, 151, 163);
    font: normal normal normal normal 11px / 11px 'lucida grande', tahoma, verdana, arial, sans-serif;
    outline: rgb(145, 151, 163) none 0px;
    overflow: hidden;
    margin-top: 10px;
}

.textarea {
	display: inline-block;
    width: 100%;
    border: none;
    height: 64px;
    vertical-align: top;
    background-color: rgba(0,0,0,.25);
    margin: 1px 0 0;
    padding-left: 24px;
    font-weight: 100;
    color: #fff;
    outline: 0;
	resize: none;
	padding: 10px 12px 0 90px;
}
.add-new .label-descr {
	position: absolute;
}
.add-new .share-link {
    padding-right: 26px;
}
.add-new .description {
	height: 290px;
}
a:hover, a:focus {
    text-decoration: none;
}
.siteloading {
	display: none;
	position: absolute;
	z-index: 999;
	margin-top: 40%;
	margin-left: 40%;
}

.mess-success, .mess-error {
	display: none;
}
.edit-btn {
    cursor: pointer;
    color: #1CDBFA;
    font-size: 32px;
}
.del-btn {
    cursor: pointer;
    color: #FA591C;
    font-size: 32px;
}
.scheduled-table .media img, .published-table .media img {
    max-width: 120px;
}
.scheduled-table thead th, .published-table thead th {
}
.scheduled-table td:nth-child(1) {
    width: 60%;
}
.scheduled-table td:nth-child(2),
.scheduled-table td:nth-child(4),
.scheduled-table td:nth-child(5),
.scheduled-table td:nth-child(6) {
    max-width: 150px;
    line-height: 80px;
}
.scheduled-table td:nth-child(3) {
    width: 40%;
    text-align: left;
    vertical-align: top;
}
.published-table td:nth-child(1) {
    width: 60%;
}
.published-table td:nth-child(2) {
    width: 40%;
    text-align: left;
    vertical-align: top;
}
.published-table td:nth-child(3),
.published-table td:nth-child(4) {
    max-width: 150px;
}